/**
 * section html.scss
 *
 * Copyright 2022 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

.poseidon-html-section {
    height: auto;
    display: block;
    visibility: visible;
    margin: 0;
    padding: $spaceSmall $paneGutter;
}
