/**
 * control _revert.scss
 *
 * Copyright 2022 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

.pos-c-revert {
    align-items: center;
    background: transparent;
    border: none;
    color: $textColor;
    display: flex;
    font-family: $fontIcons;
    font-size: $fontSizeSmall - 2;
    height: $spaceMedium;
    justify-content: center;
    left: $spaceLarge;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - #{$spaceMedium / 2});
    transform: translate3d(#{$spaceMedium * -1}, 0, 0);
    transition: opacity $speedFast ease, transform $speedFast ease;
    width: $spaceMedium;
    -webkit-font-smoothing: antialiased;

    &:before {
        content: '\f531';
        transform: rotate(45deg);
        transition: transform $speedFast ease 0s;
    }

    &:hover {
        color: $hoverColor;

        &:before {
            transform: rotate(-45deg);
        }
    }

    &:focus {
        outline: none;
    }

    &:not([disabled]) {
        cursor: pointer;
        opacity: 1;
    }
}
